<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <table class="table table-striped" id="assigned_tasks_list">
        <thead>
        <tr >
            <th>Id</th>
            <th>Name of project</th>
            <th>Type</th>
            <th>Start date</th>
            <th>Deadline</th>
            <th>Story points</th>
            <th>Estimation</th>
            <th>Execution</th>

        </tr>
        </thead>
        <tbody>
        <tr data-th-each="task : ${myTasks}">
            <td class="name" data-th-text="${task.id}"></td>
            <td class="name" data-th-text="${task.projectName}"></td>
            <td class="name" data-th-text="${task.taskType}"></td>
            <td class="name" data-th-text="${task.startDate}"></td>
            <td class="name" data-th-text="${task.endDate}"></td>
            <td class="name" data-th-text="${task.storyPoints}"></td>
            <td class="name" data-th-text="${task.estimationStatus}"></td>
            <td class="name" data-th-text="${task.executionStatus}"></td>
            <td>
                <button th:href="'#'+${task.id}" type="button" class="btn-xs btn-primary" data-toggle="modal" >description</button>
                <div th:id="${task.id}" tabindex="-1" id="myModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Task description</h4>
                            </div>
                            <div class="modal-body" data-th-text="${{task.description}}">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td title="ESTIMATE TASK">
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/tasks/{id}/estimate'(id=${task.id})}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </span>

                </a>
            </td>

            <td title="MARK TASK AS EXECUTED">
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/tasks/{id}/markAsDone'(id=${task.id})}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-ok"></i>
                    </span>

                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</html>