<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">


    <table class="table table-striped" id="posts_list">
        <thead>
        <tr>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=id)}">Id</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=name)}" th:text="#{lang.dev.name}">Name</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=rank)}" th:text="#{lang.dev.rank}">Rank</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=experience)}" th:text="#{lang.dev.experience}">Experience</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=qualification)}" th:text="#{lang.dev.qualification}">Qualification</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=state)}" th:text="#{lang.dev.state}">State</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=nameOfCurrentProject)}" th:text="#{lang.dev.project}">Project</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=numberOfTasks)}" th:text="#{lang.dev.totalTasks}">Tasks</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=numberOfBugfixingTasks)}" th:text="#{lang.dev.bfx}">BFX</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=numberOfDevelopmentTasks)}" th:text="#{lang.dev.dev}">DEV</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=numberOfRefactoringTasks)}" th:text="#{lang.dev.ref}">REF</a></th>
            <th><a th:href="@{/developers/all(pageSize=${selectedPageSize}, direction=${direction}, order=active)}" th:text="#{lang.dev.active}">Active</a></th>


        </tr>
        </thead>
        <tbody>
        <tr data-th-each="developer : ${persons}">
            <td class="name" data-th-text="${developer.id}"></td>
            <td class="name" data-th-text="${developer.name}"></td>
            <td class="name" data-th-text="${developer.rank}"></td>
            <td class="name" data-th-text="${developer.experience}"></td>
            <td class="name" data-th-text="${developer.qualification}"></td>
            <td class="name" data-th-text="${developer.state}"></td>
            <td class="name" data-th-text="${developer.nameOfCurrentProject}"></td>
            <td class="name" data-th-text="${developer.numberOfTasks}"></td>
            <td class="name" data-th-text="${developer.numberOfBugfixingTasks}"></td>
            <td class="name" data-th-text="${developer.numberOfDevelopmentTasks}"></td>
            <td class="name" data-th-text="${developer.numberOfRefactoringTasks}"></td>
            <td class="name" data-th-text="${developer.active}"></td>

        </tr>
        </tbody>
        <div class="btn-group" align="right">
            <button type="button" class="btn-xs btn-primary" th:text="#{lang.itemsOnPage}">Items on page</button>
            <button type="button" class="btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="background-color: gainsboro">
                <li><a href="/developers/all?pageSize=12">12</a></li>
                <li><a href="/developers/all?pageSize=8">8</a></li>
                <li><a href="/developers/all?pageSize=5">5</a></li>
            </ul>
        </div>
        <div class="btn-group" align="right" >
            <button type="button" class="btn-xs btn-primary" >Direction</button>
            <button type="button" class="btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="background-color: gainsboro" >
                <li><a th:href="@{/developers/all(pageSize=${selectedPageSize}, order=${order}, direction=1)}">ASCENDING</a></li>
                <li><a th:href="@{/developers/all(pageSize=${selectedPageSize}, order=${order}, direction=2)}">DESCENDING</a></li>
            </ul>
        </div>
    </table>

    <div class="row">
        <div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/developers/all(pageSize=${selectedPageSize}, order=${order}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/developers/all(pageSize=${selectedPageSize}, order=${order}, page=${persons.number})}">&larr;</a>
                </li>
                <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage, (pager.startPage > pager.endPage)? -1 : 1)}">
                    <a class="pageLink" th:href="@{/developers/all(pageSize=${selectedPageSize}, order=${order}, page=${page})}" th:text="${page}"></a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink" th:href="@{/developers/all(pageSize=${selectedPageSize}, order=${order}, page=${persons.number + 2})}">&rarr;</a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink" th:href="@{/developers/all(pageSize=${selectedPageSize}, order=${order}, page=${persons.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>