<html layout:decorator="layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">

    <form method="post" name="developer_form" id="developer_form" action="/developers/assign" role="form">

        <input type="hidden" id="developer_id" class="form-control" name="developer_id" th:value="${developer.id}"/>
        <div class="form-group">
            <label for="projectNameSelect"><h2>Select task</h2></label>
            <select class="form-control " id="projectNameSelect" name="task_id">
                <option th:each="task : *{allTasks}" th:text="'| ID: '+${task.id}+' | '+${task.projectName}+' | '+${task.taskType}+'|'+${{task.startDate}}+' -> '+${{task.endDate}}+' | Story points: '+${task.storyPoints}" th:value="${task.id}"></option>
            </select>
            <input type="submit" value="Assign" class="btn btn-primary btn-lg" />
        </div>



    </form>
</div>
</html>