<html layout:decorator="layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <form class="form-inline" method="post" name="developer_edit_form" id="developer_edit_form" action="/developers/update" role="form">
        <input type="hidden" id="developer_id" class="form-control" name="developer_id" th:value="${developer.id}"/>
        <div class="input-group col-xs-2">
            <label for="d_name">Insert developer name</label>
            <input id="d_name" class="form-control" title="name" type="text" name="name" th:value="${developer.name}" />
        </div>
        <div class="input-group col-xs-2">
            <label for="rank">Select rank</label>
            <select id="rank" name="rank" class="form-control" >
                <option th:each="rank : ${T(com.shelest.booster.utilities.Rank).values()}" th:value="${{rank}}" th:text="${rank}"></option>
            </select>
        </div>
        <div class="input-group col-xs-2">
            <label for="exp">Insert experience</label>
            <input id="exp" class="form-control" title="name" type="number" step="any" name="experience" th:value="${developer.experience}" />
        </div>
        <div class="input-group col-xs-2">
            <label for="qua">Insert qualification</label>
            <input id="qua" class="form-control" title="name" type="number" name="qualification" th:value="${developer.qualification}" />
        </div>
        <div class="input-group col-xs-1">
            <label for="submit">Press to save</label>
            <input id="submit" class="form-control" type="submit" value="Save" />
        </div>
    </form>
    <!--<form method="post" name="developer_form" id="developer_form" action="/developers/update" role="form">-->

        <!--<input type="hidden" id="developer_id" rows="5" class="form-control" name="developer_id" th:value="${developer.id}"/>-->
        <!--Name: <input title="name" type="text" name="name" th:value="${developer.name}" />-->
        <!--Rank: <select id="rank" name="rank" class="form-group" align="left" >-->
        <!--<option th:each="rank : ${T(com.shelest.booster.utilities.Rank).values()}"-->
                <!--th:value="${{rank}}"-->
                <!--th:text="${rank}"></option>-->
    <!--</select>-->
        <!--Exp:  <input title="experience" type="number" step="0,01" name="experience" th:value="${developer.experience}"/>-->
        <!--Qualif:  <input title="qualification" type="number" name="qualification" th:value="${developer.qualification}"/>-->
        <!--<input type="submit" value="Save" />-->

    <!--</form>-->
</div>
</html>