<html layout:decorator="layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <form class="form-inline" method="post" name="developer_form" id="developer_form" action="/developers/create" role="form">
        <div class="input-group col-xs-2">
            <label for="d_name">Insert developer name</label>
            <input id="d_name" class="form-control" title="name" type="text" name="name" />
        </div>
        <div class="input-group col-xs-2">
            <label for="rank">Select rank</label>
            <select id="rank" name="rank" class="form-control" >
                <option th:each="rank : ${T(com.shelest.booster.utilities.Rank).values()}" th:value="${{rank}}" th:text="${rank}"></option>
            </select>
        </div>
        <div class="input-group col-xs-2">
            <label for="exp">Insert experience</label>
            <input id="exp" class="form-control" title="name" type="number" step="any" name="experience" />
        </div>
        <div class="input-group col-xs-2">
            <label for="qua">Insert qualification</label>
            <input id="qua" class="form-control" title="name" type="number" name="qualification" />
        </div>
        <div class="input-group col-xs-1">
            <label for="submit">Press to save</label>
            <input id="submit" class="form-control" type="submit" value="Save" />
        </div>
    </form>

</div>
</html>