<html layout:decorator="layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <h1 ></h1>
    <div class="jumbotron">
        <h2 class="display-3" th:text="#{greeting}"></h2>
        <p class="lead">You can start working right now!</p>
        <p sec:authorize="!isAuthenticated()"><a  class="btn btn-lg btn-success" href="/login" role="button">Log in</a></p>
    </div>

</div>



</html>