<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>PM_BOOSTER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"/>
    <link href="/css/starter-template.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PM Booster</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: gainsboro "  >
                    <li><a href="/developers/bench">Bench</a></li>
                    <li><a href="/developers/all">All staff</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tasks
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: gainsboro "  >
                    <li><a href="/tasks/allTasks">All tasks</a></li>
                    <li><a href="/tasks/notAssignedTasks">Not assigned tasks</a></li>
                    <li><a href="/tasks/newTask">New task</a></li>
                </ul>
            </li>
            <li><a  href="/projects">Projects</a></li>
            <li><a  href="#">Portfolio</a></li>
            <li><a  href="/logout">Logout</a></li>
        </ul>
        <p class="navbar-text navbar-right" align="right">
        <span sec:authorize="isAuthenticated()">
            Signed in as: <a href="#" class="navbar-link"><span sec:authentication="name"></span></a>
            | Role: <span sec:authentication="principal.authorities"></span>
        </span>
        </p>
    </div>

</nav>

<div class="container">

    <div layout:fragment="content">

    </div>

</div>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="startDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: "dd-mm-yyyy",
            todayBtn: "linked",
            orientation: "top auto",
            daysOfWeekDisabled: "0,6",
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            todayHighlight: true
        };
        date_input.datepicker(options);
    })
</script>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="endDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: "dd-mm-yyyy",
            todayBtn: "linked",
            orientation: "top auto",
            daysOfWeekDisabled: "0,6",
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            todayHighlight: true
        };
        date_input.datepicker(options);
    })
</script>
</body>

</html>