<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>PM_BOOSTER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"/>
    <link href="/css/starter-template.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PM Booster</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a sec:authorize="hasRole('ROLE_ADMIN')" href="/home" th:text="#{lang.nav.workbench}">Home</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><span th:text="#{lang.nav.team}"></span><span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: gainsboro "  >
                    <li><a href="/developers/all" th:text="#{lang.nav.allStaff}">All staff</a></li>
                    <li><a href="/developers/bench" th:text="#{lang.nav.bench}">Bench</a></li>
                    <li><a href="/developers/newComers" th:text="#{lang.nav.newComers}">Newcomers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" href="#" ><span th:text="#{lang.nav.tasks}"></span><span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: gainsboro "  >
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/tasks/allTasks" th:text="#{lang.nav.allTasks}">All tasks</a></li>
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/tasks/notAssignedTasks" th:text="#{lang.nav.notAssignedTasks}">Not assigned tasks</a></li>
                    <li><a sec:authorize="hasRole('ROLE_USER')" href="/tasks/notAssignedTasks" th:text="#{lang.nav.toEvaluate}">Tasks to evaluate</a></li>
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/tasks/doneTasks" th:text="#{lang.nav.doneTasks}">Done tasks</a></li>
                    <li><a sec:authorize="hasRole('ROLE_USER')" href="/tasks/myTasks" th:text="#{lang.nav.myTasks}">My Tasks</a></li>
                </ul>
            </li>
            <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/projects" th:text="#{lang.nav.projects}">Projects</a></li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" href="#" ><span th:text="#{lang.nav.portfolio}"></span><span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: gainsboro "  >
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/tasksHistory" th:text="#{lang.nav.tasksHistory}">Tasks history</a></li>
                    <li><a sec:authorize="hasRole('ROLE_USER')" href="#" th:text="#{lang.nav.projectsHistory}">Projects history</a></li>
                </ul>
            </li>
            <li><a sec:authorize="!isAuthenticated()"  href="/register" th:text="#{lang.nav.register}">Register</a></li>
            <li><a sec:authorize="!isAuthenticated()"  href="/login" th:text="#{lang.nav.login}">Register</a></li>
            <li><a  href="/logout" th:text="#{lang.nav.logout}">Logout</a></li>

            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" >
            <!--<span th:text="#{lang.change}"></span>:-->
            <select class="dropdown" data-style="btn-success" id="locales" style="background-color: gainsboro">
                <option style="color: white" value="" th:text="#{lang.change}"></option>
                <option style="color: black" value="en" th:text="#{lang.eng}"></option>
                <option style="color: black" value="ru" th:text="#{lang.ru}"></option>
            </select>
                </a>
            </li>





        </ul>
        <p sec:authorize="isAuthenticated()" class="navbar-text navbar-right" align="right">
            <span th:text="#{lang.nav.signedAs}"></span>
        <span sec:authorize="isAuthenticated()" >
            <a href="#" class="navbar-link"><span sec:authentication="name"></span></a>
            <span th:text="#{lang.nav.role}"></span>
            <span sec:authentication="principal.authorities"></span>
        </span>
        </p>
    </div>

</nav>

<div class="container">

    <div layout:fragment="content">

    </div>

</div>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="startDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: "dd-mm-yyyy",
            todayBtn: "linked",
            orientation: "top auto",
            daysOfWeekDisabled: "0,6",
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            todayHighlight: true
        };
        date_input.datepicker(options);
    })
</script>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="endDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: "dd-mm-yyyy",
            todayBtn: "linked",
            orientation: "top auto",
            daysOfWeekDisabled: "0,6",
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            todayHighlight: true
        };
        date_input.datepicker(options);
    })
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var loc = window.location.pathname;
            if (selectedOption != ''){
                window.location.replace(loc+'?lang=' + selectedOption);
            }
        });
    });
</script>
</body>

</html>